<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Caça-palavras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>
<!-- TELA INICIAL-->
<div id="tela-inicial">
    <h1>Caça - Palavras</h1>
    <button onclick = "iniciarJogo()">Iniciar</button>

    </div>

<!-- TELA DO JOGO -->
<div id = "tela-jogo">
<h3>
 ----------------- COMO JOGAR: ----------------- <br>
            
     1️⃣ Escolha um tema <br>
     2️⃣ Clique em <strong>Gerar caça-palavras</strong> <br>
 ---------------------------------------------------------- <br>
 <h3>  <br>
             
<p><strong>Temas: </strong><br>
    <select id="tema">
     <option value= "GERACOES">Gerações</option>
     <option value= "SISTEMA">Sistema</option>
     <option value= "SISTEMAS_OPERACIONAIS">Sistemas Operacionais<option>
     <option value="PROCESSOS">Processos</option>
    </select>

    <br><br>

    <button onclick= "gerarJogo()">Gerar novo caça-palavras</button>

    <div class ="area-jogo">

    <div id="tabuleiro"></div>

    <div class="painel-palavras">
        
        <ul id="lista-palavras"></ul>
    </div>
  </div>
</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>